{{define "title"}}{{.Cocktail.Name}}{{end}}

{{define "main"}}
    {{with .Cocktail}}
        <article>
            <header>
                <h1>{{.Name}}</h1>
            </header>
            Body
            <footer>Footer</footer>
        </article>
    {{end}}
{{end}}