LOG_LEVEL=info
SERVER_LISTEN_ADDRESS=localhost:8080
DATABASE_URL=postgres://postgres:postgres@localhost:5432/sipsavy?sslmode=disable
IDLE_TIMEOUT=60
READ_HEADER_TIMEOUT=5
READ_HEADER_TIMEOUT=10
SESSION_MANAGER_LIFETIME=12