@using SipSavy.Web.Views.Components
@inherits LayoutComponentBase

<div class="flex-grow">
    <div class="w-full min-w-0 flex flex-col h-screen">
        <div class="w-full top-0">
            <NavMenu/>
        </div>
        <div class="grow min-h-0">
            <div class="flex flex-col h-full w-full">
                @Body
            </div>
        </div>
    </div>
</div>
