<div class="navbar bg-neutral/90 text-neutral-content shadow-sm">
    <div class="navbar-start ml-4">
        <NavLink href="/" class="text-xl">
            <span>sipsavy</span>
        </NavLink>
    </div>
</div>