{{define "nav"}}
    <nav>
        <ul>
            <li><strong><a href='/' class="contrast">sipsavy</a></strong></li>
        </ul>
        <ul>
            <li><a href="#" class="contrast">register</a></li>
            <li><a href="#" class="contrast">login</a></li>
            <li><a href="#" class="contrast">logout</a></li>
        </ul>
    </nav>
{{end}}