{{define "nav"}}
    <nav>
        <ul>
            <li><strong><a href='/'>Home</a></strong></li>
        </ul>
        <ul>
            <li><a href="#" class="contrast">Register</a></li>
            <li><a href="#" class="contrast">Login</a></li>
            <li><a href="#" class="contrast">Logout</a></li>
        </ul>
    </nav>
{{end}}